@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #98c7fc86;
    margin: 0px;
}

header {
    background-color: #c9d3ee;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
    border-radius: 20px 0px;
}

main {
    background-color: #c9d3ee;
    padding: 10px;
    margin: 13px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
    border-radius: 25px 0px;
}

footer {
    text-align: center;
    background-color: #1D3557;
    color: white;
    padding: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
}

footer > p {
    margin: 0px;
}

footer > p > a {
    text-decoration: none;
    color: white
}

footer > p > a:hover {
    text-decoration: underline;
    color: cornflowerblue;
}

nav {
    background-color: #b8b3b4;
    padding: 3px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.5s ease;

}

nav > a:hover {
    text-decoration: underline;
    color: white;
}

#assuntos {
    background-color: #b8b3b4;
    margin: 3px;
    padding: 3px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.486);

}

#assuntos > a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.5s ease;
}

#assuntos > a:hover {
    text-decoration: underline;
    color: white;
}

p > a {
    text-decoration: none;
    font-weight: bold;
    color: #1D3557;
    transition: all 0.5s ease;
}

p > a:hover {
    text-decoration: underline;
    color: white;
}