@charset "UTF-8";
        body {
            background-color: lightgreen;
            font-family: typewrite;

        }
        h1 {
            color:rgb(98, 0, 255);
        
        }
        h2 { 
            color:rgb(182, 21, 21);
        
        }
        p {
            color:black;
        }
    